.cat1 img {
  width: 500px;
  max-height: 391.58px;
}
.cat2 img {
  width: 500px;
  max-height: 391.58px;
}
.cat3 img {
  width: 500px;
  max-height: 391.58px;
}
.container {
  display: flex;
  justify-content: space-between;
}
div h1 {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 100px;
  color: palevioletred;
}
body {
  background-color: pink;
}
